/*background geral*/
.Banner{
    height: 600px;
    background-image: url("./img/doritos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
p{
    margin:0px;
}
.roda{
 position: relative;
 left: 150px;
}
