header{
    border-bottom: solid green 1px;
}

header nav{
     
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
header nav div {
    padding: 15px;
}
header nav div a {
    padding: 0px 10px;
    font-family: fantasy;

}

header nav div input {
margin-left: 2px;
margin-right: 2px;
}

